<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-center container">
    <img src="./images/portrait.jpg" class="aboutMePicture" />
    <div class="aboutMeText"> My name is Dayana Georgieva and I am a master's student at the New Bulgarian University with a major in Human
      resource management.
      This portfolio reviews my personal professional development as a student and analyzes my future plans based on the
      evaluation of the current assignments.
    </div>
  </div>
</body>

</html>