<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-center container">
    <h1>Portfolio</h1>
    <% if (loggedIn) { %>
    <h1>Logged in</h1>
    <% } else { %>
    <h1>Logged out</h1>
    <% } %>
  </div>
</body>

</html>