<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-center container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name of the subject</th>
          <th scope="col">Title of the assignment</th>
          <th scope="col">Evaluation</th>
          <th scope="col">File</th>
        </tr>
      </thead>
      <tbody>
        <% assignmentRecords.forEach(function(item) { %>
        <tr>
          <td scope="row"><%= item.name_of_subject %> </td>
          <td scope="row"><%= item.title_of_assignment %> </td>
          <td scope="row"><%= item.evaluation %> </td>
          <td scope="row"><a href="<%= item.file %>" class="btn btn-primary" role="button">Download</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</body>

</html>