<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="text-center container">
    <h1>Assignment Records</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name of the subject</th>
          <th scope="col">Title of the assignment</th>
          <th scope="col">Evaluation</th>
          <th scope="col">File</th>
        </tr>
      </thead>
      <tbody>
        <% assignmentRecords.forEach(function(item) { %>
        <tr>
          <td scope="row"><%= item.name_of_subject %> </td>
          <td scope="row"><%= item.title_of_assignment %> </td>
          <td scope="row"><%= item.evaluation %> </td>
          <td scope="row"><a href="<%= item.file %>" class="btn btn-primary" role="button">Download</a></td>
        </tr>
        <% }); %>
        <tr>
          <td scope="row">
            <textarea class="form-control" id="post_assignment_1" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_assignment_2" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_assignment_3" rows="1"></textarea>
          </td>
          <td scope="row">
            <textarea class="form-control" id="post_assignment_4" rows="1"></textarea>
          </td>
          <td scope="row">
            <a id="post_assignment_btn" class="btn btn-primary" role="button">Upload</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <% include ../partials/scripts.ejs %>
</body>

</html>